@import '../../variables.scss';
#navbar {
    background: $nav-theme;
    padding: 3px 3px;
    border-bottom: 1px solid $purple-theme;
    position: relative;
    min-height: 50px;
    z-index: 2;
}

#logo {
    position: absolute;
    display: flex;
    margin: 5px 20px;
    > div {
        letter-spacing: 2px;
        padding: 1px 1px;
        margin: 0px 10px;
        font-family: Merriwheather;
        font-weight: 600;
        font-size: 32px;
        display: inline-block;
        height: 40px;
        img {
            margin: 0;
            border-radius: 15%;
            padding: 4px;
            background-color: white;
            width: 30px;
        }
    }
}

#routes {
    position: absolute;
    right: 5px;
    top: 10px;
}

#routes > ul {
    list-style: none;
    display: flex;
    margin: 0;

    > li {
        border-radius: 3px;
        text-align: center;
        border: 2px solid $nav-theme;
        transition-property: border;
        transition-duration: 500ms;
        margin: 0px 10px;
        > a {
            color: $purple-theme;
            display: block;
            padding: 5px 25px;
            font-size: 20px;
        }
        &:hover {
            border: 2px solid $purple-theme;
        }
    }
}
