@import 'variables.scss';
$font-dir: './assets/fonts';
@font-face {
    font-family: Advent Pro;
    src: url('#{$font-dir}/Advent_Pro/AdventPro-Regular.ttf');
}

@font-face {
    font-family: AllertaStencil;
    src: url('#{$font-dir}/AllertaStencil/AllertaStencil-Regular.ttf');
}

@font-face {
    font-family: Quantico;
    src: url('#{$font-dir}/Quantico/Quantico-Regular.otf');
}

*:focus {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background: $bg-theme;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

main {
    padding: 0;
    z-index: 1;
}
