:root {
  --theme: #000077;
}

body {
  background-color: var(--theme);
}

*:focus {
  outline: none;
}

#container {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 700px;
  height: 500px;
  background-color: var(--theme);
}
#container > div {
  position: absolute;
}
#header {
  top: 0px;
  left: 50px;
  background-color: var(--theme);
  width: 300px;
  height: 50px;
  z-index: 2;
  font-size: 28px;
  font-weight: 600;
  padding: 5px 15px;
  color: white;
  font-family: Georgia, sans-serif;
}
#form-holder {
  padding-top: 50px;
  padding-left: 50px;
  margin: auto;
  top: 20px;
  left: 20px;
  width: 650px;

  background-color: var(--theme);
  position: relative;
  border: 2px solid white;
  z-index: 1;
}

input {
  width: 500px;
  height: 60px;
  font-size: 24px;
  padding-left: 20px;
  letter-spacing: 2px;
  background-color: var(--theme);
  color: white;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  transition-property: border;
  transition-duration: 0.5s;
}

input[type="text"] {
  text-transform: uppercase;
}

input:hover {
  border: 1px solid white;
}

button {
  width: 500px;
  height: 50px;
  font-size: 20px;
  background-color: #800080;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
  font-family: "Times New Roman", Times, serif;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

button:hover {
  background-color: #a00080;
}


