#logo-image {
    margin: auto;
    position: relative;
    height: 120px;
    width: 100px;
}

#logo-image>img {
    width: 100%;
    height: 100%;
}

#login-form {
    position: relative;
    width: 450px;
    padding: 10px 10px;
}

#login-form>input {
    width: 98%;
}

#login-btn {
    background-color: var(--purple-theme);
    width: 98%;
}

#register-btn {
    background-color: var(--blue-theme);
    width: 98%;
}

#register-btn>a,
#register-btn>a:hover {
    color: white;
    width: 100%;
    height: 100%;
    display: block;
}