cat secondclass.css html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1rem;
}
.navbar > .logo {
  letter-spacing: 2px;
  padding: 2px 5px;
}
.navbar > .logo > span {
  color: gray;
}
.navbar > ul {
  list-style: none;
  display: flex;
  margin: 0;
  width: 40%;
  justify-content: space-around;
}
main {
  padding: 2rem 20%;
}
p {
  font-size: 1.5em;
}
a {
  color: gray;
  text-transform: none;
}
a:hover {
  color: black;
}
