@import "../bootstrap/css/bootstrap.min.css";
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #3333ff;
}
.navbar {
  
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1rem;
  min-height: 60px;
}
.navbar > .logo {
  letter-spacing: 2px;
  padding: 2px 5px;
  margin: 0;
}
.navbar > .logo > span {
  color: gray;
}
.navbar > ul {
  list-style: none;
  display: flex;
  margin: 0;
  width: 40%;
  justify-content: space-around;
}
.navbar > ul > li{
  background-color: #3333ff;
  border-radius: 3px;
  
  text-align: center;
}

.navbar>ul>li>a{
  color: #ccc;
  text-decoration: none;
  transition-property: color;
  transition-duration: 1s;
  text-transform: none;
  display:block;
  width:100px;
  padding: 5px;
}
.navbar>ul>li>a:hover{
  color:white;
}
main {
  padding: 2rem 15%;
  flex: 1;
}
p {
  font-size: 1.5em;
}