@import '../../variables.scss';
$text-color: white;
$user-color: #ccf;

.container {
    margin: 0px 0% 0px 20%;
    max-width: 650px;
    min-width: 200px;
    padding: 10px;
}

.post {
    box-shadow: 5px 5px #aaa;
    margin-bottom: 10px;
    border: 1px solid black;
}

.head {
    background-color: $purple-theme;
    padding: 4px 15px;
    margin: 0;
    > div {
        display: inline-block;
    }
}

.author {
    font-size: 16px;
    font-weight: 600;
    color: $user-color;
    font-family: monospace;
    margin: 0;
}

.timestamp {
    float: right;
    color: $text-color;
    margin: 0;
}

.topic {
    font-size: 18px;
    margin: 5px 0px;
    padding: 3px 12px;
    border-bottom: 1px solid grey;
    font-weight: 600;
}

.content {
    padding: 5px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tags {
    color: $blue-theme;
    font-style: italic;
    padding: 2px 10px;
}

.footer {
    padding: 10px 30px;
    height: 20px;
    > .viewsCount,
    > .commentsCount {
        display: inline-block;
        display: flex;
        flex-direction: row;
        > img {
            width: 20px;
            margin: 2px;
        }
        > span {
            color: #444;
            font-size: 17px;
            margin: 2px;
        }
    }
    > .viewsCount {
        float: left;
    }
    > .commentsCount {
        float: right;
    }
}
