@import '../../variables.scss';

#postNavBar {
    position: relative;
    padding: 30px 10px 0px 0px;
    background-color: $purple-theme;
    display: flex;

    > #postRoutesWrapper {
        margin-left: 50px;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0px;
        padding: 0px;
    }

    > .searchBarContainer {
        $input-background: whitesmoke;
        margin-left: 20px;
        flex: 1;
        max-width: 400px;
        display: flex;
        padding: 4px 7px;
        height: 35px;
        > img {
            width: 22px;
            padding-left: 5px;
            background-color: $input-background;
            border-radius: 10px 0px 0px 10px;
        }
        > input {
            background: $input-background;
            width: 160px;
            min-width: 160px;
            padding: 6px 12px;
            border-radius: 0px 10px 10px 0px;
            border: none;
            font-size: 16px;
            transition: width;
            transition-duration: 100ms;
            font-family: Nunito;
            max-width: 300px;
            &:focus {
                width: 70%;
            }
        }
    }
}

.postRoute {
    $border-width: 2px;
    border-bottom: $border-width solid $purple-theme;
    transition: border;
    transition-duration: 300ms;
    &:hover {
        border-bottom: $border-width solid #aaa;
    }
    &.isOnFocus {
        border-bottom: $border-width solid red;
    }
    a {
        color: white;
        display: block;
        padding: 14px 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
    }
}
