@import '../../variables.scss';
$user-color: #00f;

.container {
    margin: 0px 0% 0px 20%;
    max-width: 600px;
    min-width: 200px;
    padding: 10px;
}

.post {
    box-shadow: 5px 5px #aaa;
    margin-bottom: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.avatarWrapper {
    padding: 10px 1px 0px 15px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid grey;
    }
}
.contentWrapper {
    padding: 1px;
}

.head {
    padding: 14px 15px 1px 5px;
    margin: 0;
    > div {
        display: inline-block;
    }
}

.author {
    font-size: 18px;
    color: $user-color;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.timestamp {
    float: right;
    color: #444;
    margin: 0;
}

.topic {
    font-size: 17px;
    margin: 5px 0px;
    padding: 0px 10px;
    font-weight: 600;
}

.content {
    padding: 1px 12px;
    //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: Nunito;
}

.tags {
    color: $blue-theme;
    font-style: italic;
    padding: 2px 10px;
}

.footer {
    padding: 10px 30px 10px 6px;
    height: 20px;
    > .viewsCount,
    > .commentsCount {
        display: inline-block;
        display: flex;
        flex-direction: row;
        > img {
            width: 20px;
            margin: 2px;
        }
        > span {
            color: #444;
            font-size: 17px;
            margin: 2px;
        }
    }
    > .viewsCount {
        float: left;
    }
    > .commentsCount {
        float: right;
    }
}
