@import '../../variables.scss';

.pinnedLinks {
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}
.githubLink {
    display: inline-block;
    margin: 4px 50px;
    background-color: #050;
    padding: 4px 6px;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    &:hover {
        background-color: #060;
    }
}

#heading {
    font-size: 25px;
    margin: 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    color: $purple-theme;
    text-align: center;
    border-bottom: 1px solid $purple-theme;
    padding: 10px;
}

#teamList {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin-top: 7%;
    @include center-absolute-element;
}
.memberWrapper {
    margin: 5px auto;
    padding: 10px;
}
.member {
    background: linear-gradient($purple-theme 18%, #ccc 18%);
    position: relative;
    width: 240px;
    border-radius: 6px;
    padding: 4px;
    height: 300px;
    > .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 10px 20px;
    }
    > .name {
        padding: 2px 5px;
        font-size: 17px;
        font-family: Advent Pro;
        font-weight: 600;
        margin: 5px 0px;
    }
    > .role {
        padding: 0px 3px;
        font-size: 90%;
        text-align: center;
        width: 80%;
        background-color: $purple-theme;
        color: white;
        font-weight: 500;
        border: 1px solid $purple-theme;
        margin: auto;
        border-radius: 5%;
    }
    > .bio {
        font-size: 0.8rem;
        font-size: 16px;
        padding: 7px;
        margin: 5px 2px;
        font-family: Nunito;
        overflow-y: auto;
        max-height: 120px;
    }
    > a {
        width: 30px;
        position: absolute;
        top: 9px;
        left: 80%;
        img {
            width: 100%;
            border-radius: 0%;
            padding: 1px;
        }
    }
    &:hover {
        box-shadow: 2px 2px grey;
    }
}
