@import '../../variables.scss';
@mixin center-absolute-element {
    left: 50%;
    transform: translateX(-50%);
}
#github-link {
    display: inline-block;
    margin-top: 10px;
    background-color: #050;
    border: 1px solid #0a0;
    padding: 3px 6px;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    color: white;
    &:hover {
        background-color: #060;
    }
}

#heading {
    font-size: 40px;
    margin: 50px 50px;
    font-family: 'Times New Roman', Times, serif;
    color: $purple-theme;
    text-align: center;
    border: 1px solid $purple-theme;
    padding: 10px;
    background-color: #eee;
}

#team-list {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    @include center-absolute-element;
}

.member {
    background: linear-gradient($purple-theme 15%, #ccc 15%);
    margin: 5px auto;
    position: relative;
    width: 200px;
    border-radius: 6px;
    padding: 4px;

    > .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 10px 20px;
    }
    > .name {
        padding: 2px 5px;
        font-size: 17px;
        font-family: Advent Pro;
        font-weight: 600;
        //background:green;
        margin: 0;
    }
    > .role {
        padding: 0px 9px;
        //background-color: $purple-theme;
        font-size: 15px;
        text-align: center;
        width: 90%;
        color: $purple-theme;
        //border-radius: 4px;
        font-weight: 600;
        border-bottom: 1px solid $purple-theme;
        //background:green;
    }
    > .bio {
        //position: relative;

        font-size: 0.8rem;
        font-size: 16px;
        font-weight: 600;
        padding: 7px;
        //background:green;
        margin: 5px 2px;
        //max-height: 150px;
    }
    > a {
        width: 15%;
        position: absolute;
        top: 9px;
        left: 150px;
        img {
            width: 100%;
            background-color: black;
            border-radius: 50%;
            padding: 1px;
        }
    }
    &:hover {
        box-shadow: 2px 1px grey;
    }
}
