@import '../../variables.scss';
#form-description {
    color: $purple-theme;
    padding: 10px;
    font-family: Advent Pro;
    font-size: 18px;
    margin: auto;
    //background:red;
    width: 300px;
}

#button-holder > button {
    &[name='signup'] {
        width: 300px;
        background-color: $purple-theme;
    }
    &[name='signup-later'] {
        background: none;
        a {
            color: $blue-theme;
        }
    }
}

#gender-option {
    margin-left: 10px;
    > p {
        margin: 5px 0px;
        color: grey;
        font-size: 19px;
    }
    > div {
        margin: 0px 0px 10px 10px;
    }
    label {
        display: inline-block;
        margin: 0px 3px;
        > input[type='radio'] {
            display: none;
            + span::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 1rem;
                height: 1rem;
                margin-right: 0.3rem;
                border-radius: 10%;
                border-style: solid;
                border-width: 0.1rem;
                border-color: gray;
            }
        }
        > input[type='radio']:checked + span::before {
            background-image: url('../../assets/form-images/purple-tick.jpg');
            background-size: 80% 80%;
            border-color: $purple-theme;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
