@import '../../variables.scss';
<<<<<<< HEAD:client/src/components/register/Register.module.scss
@import '../../scss/form.module.scss';

.container {
    top: 10%;
}
.formCaption {
=======

.register-page.container {
    top: 10%;
}
.register-page .form-description {
>>>>>>> 05bb5bc4c703e6748fe57e3c28c82cbe4e81f5e0:client/src/components/register/Register.scss
    color: $purple-theme;
    padding: 10px;
    font-family: Advent Pro;
    font-size: 18px;
    margin: auto;
    width: 300px;
}

<<<<<<< HEAD:client/src/components/register/Register.module.scss
.buttonHolder > button {
=======
.register-page .button-holder > button {
>>>>>>> 05bb5bc4c703e6748fe57e3c28c82cbe4e81f5e0:client/src/components/register/Register.scss
    &[name='signup'] {
        width: 330px;
        background-color: $purple-theme;
    }
    &[name='signup-later'] {
        background: none;
        a {
            color: $blue-theme;
        }
    }
}

<<<<<<< HEAD:client/src/components/register/Register.module.scss
.genderOption {
=======
.register-page .gender-option {
>>>>>>> 05bb5bc4c703e6748fe57e3c28c82cbe4e81f5e0:client/src/components/register/Register.scss
    margin-left: 10px;
    > p {
        margin: 5px 0px;
        color: grey;
        font-size: 19px;
    }
    > div {
        margin: 0px 0px 10px 10px;
    }
    label {
        display: inline-block;
        margin: 0px 3px;
        > input[type='radio'] {
            display: none;
            + span::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 1rem;
                height: 1rem;
                margin-right: 0.3rem;
                border-radius: 10%;
                border-style: solid;
                border-width: 0.1rem;
                border-color: gray;
            }
        }
        > input[type='radio']:checked + span::before {
            background-image: url('../../assets/form-images/purple-tick.jpg');
            background-size: 80% 80%;
            border-color: $purple-theme;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
