@import "../variables.scss";
#container {
    border-radius: 2px;
    position: absolute;
    background-color: $bg-theme;
    display: flex;
    flex-flow: row;
    border: 1px solid $purple-theme;
    margin: 30px auto;
}

#form-sidebar {
    width: 550px;
    font-family: Quantico;
    background-color: $purple-theme;
    color: white;
    padding: 20px;
    >p {
        margin: auto;
        position: relative;
        width: 90%;
        height: 80%;
        word-wrap: break-word;
        font-size: 50px;
    }
}

#form-header {
    position: absolute;
    top: 0px;
    left: 50px;
    background-color: $bg-theme;
    z-index: 2;
    font-size: 27px;
    padding: 5px 15px;
    color: black;
    font-family: AllertaStencil;
}

#form-holder {
    margin: 20px;
    position: absolute;
    padding-top: 30px;
    padding-left: 0px;
    border-radius: 4px;
    position: relative;
    border: 1px solid $purple-theme;
    z-index: 1;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    letter-spacing: 2px;
    background-color: white;
    margin-bottom: 15px;
    margin-right: 2px;
    border-radius: 2px 2px 0px 0px;
    border: 2px solid $purple-theme;
    transition-property: border;
    transition-duration: 0.5s;
    &:focus {
        border: 2px solid grey;
    }
}

button {
    height: 30px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    color: white;
    margin-bottom: 5px;
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
}