@import '../variables.scss';

.container {
    border-radius: 2px;
    position: absolute;
    background-color: $bg-theme;
    display: flex;
    flex-flow: row;
    border: 1px solid $purple-theme;
    @include center-absolute-element;
}

.containerHeader {
    position: absolute;
    top: 0px;
    left: 50px;
    background-color: $bg-theme;
    z-index: 2;
    font-size: 27px;
    padding: 5px 15px;
    color: black;
    font-family: AllertaStencil;
}

.formContainer {
    margin: 20px;
    position: absolute;
    padding-top: 30px;
    padding-left: 0px;
    border-radius: 4px;
    position: relative;
    border: 1px solid $purple-theme;
    z-index: 1;
}

.formWrapper {
    padding: 3px 3px;
    display: inline-block;
}

.inputWrapper > input {
    width: 330px;
    padding: 2px 5px;
    margin: 5px 2px 5px 2px;
    height: 35px;
    font-size: 18px;
    padding-left: 6px;
    letter-spacing: 2px;
    background-color: white;
    border-radius: 2px 2px 0px 0px;
    border: 1px solid $purple-theme;
    transition-property: border;
    transition-duration: 0.5s;
    &:focus {
        border: 1px solid grey;
    }
}
.buttonHolder {
    display: grid;
    button {
        margin: 0px auto;
        padding: 0;
        height: 30px;
        font-size: 18px;
        border: none;
        border-radius: 2px;
        color: white;
        margin-bottom: 5px;
        font-family: 'Times New Roman', Times, serif;
    }
}
