@import '../variables.scss';
@mixin center-absolute-element {
    left: 50%;
    transform: translateX(-50%);
}

#container {
    border-radius: 2px;
    position: absolute;
    background-color: $bg-theme;
    display: flex;
    flex-flow: row;
    border: 1px solid $purple-theme;
    margin-top: 30px;
    @include center-absolute-element;
}

#form-sidebar {
    width: 450px;
    font-family: Quantico;
    background-color: $purple-theme;
    color: white;
    padding: 0px;
    position: relative;

    > p {
        margin-left: 30px;
        position: absolute;
        width: 90%;
        height: 80%;
        word-wrap: break-word;
        font-size: 45px;
    }
}

#form-header {
    position: absolute;
    top: 0px;
    left: 50px;
    background-color: $bg-theme;
    z-index: 2;
    font-size: 27px;
    padding: 5px 15px;
    color: black;
    font-family: AllertaStencil;
}

#form-container {
    margin: 20px;
    position: absolute;
    padding-top: 30px;
    padding-left: 0px;
    border-radius: 4px;
    position: relative;
    border: 1px solid $purple-theme;
    z-index: 1;
}

#form-div {
    padding: 3px 3px;
    display: inline-block;

    .text-input > input {
        width: 330px;
        padding: 2px 5px;
        margin: 5px 2px 5px 2px;
        height: 35px;
        font-size: 18px;
        padding-left: 6px;
        letter-spacing: 2px;
        background-color: white;
        //margin-bottom: 15px;
        border-radius: 2px 2px 0px 0px;
        border: 1px solid $purple-theme;
        transition-property: border;
        transition-duration: 0.5s;
        &:focus {
            border: 1px solid grey;
        }
    }
}
#button-holder {
    display: grid;
    button {
        margin: 0px auto;
        padding: 0;
        height: 30px;
        font-size: 18px;
        border: none;
        border-radius: 2px;
        color: white;
        margin-bottom: 5px;
        font-family: 'Times New Roman', Times, serif;
    }
}
